.active {
  font-weight: normal;
  font-size: 42px !important;
  background: #8DC63F;
}

a.nav-link {
  color: rgb(255 255 255) !important;
  font-size: 21px !important;
}

div.bg-header {
  background: #373737;
}

button.navbar-toggler {
  background: beige;
}
